nav {
  background-image: url(pexels-pix.jpg);
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  padding: 20px;
  color: #000000;
  font-size: x-large;
}

.nav-link:hover {
  color: rgb(88, 85, 85, 0.7);
}

.nav-item {
  display: inline-flex;
}

.contact {
  padding: 4px;
  text-align: center;
}

.fieldsoA {
  padding: 4px;
  margin: 20px;
}

#fields {
  padding: 4px;
  font-size: x-large;
}

.underline {
  text-decoration-line: underline;
}

.aboutme {
  margin-top: 10px;
}
