nav {
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-family: "Source Serif Pro", serif;
  background-color: #7c9473;
}
body {
  font-family: "Source Serif Pro", serif;
  color: #000000;
  margin: 100px;
  background-color: #cfdac8;
}

.homephotos {
  margin-top: 20px;
  padding: 4px;
  border-radius: 20px;
}
.amphoto {
  margin-top: 20px;
  width: 1287px;
}

.nav-link {
  padding: 20px;
  color: #000000;
  font-size: x-large;
}

.nav-link:hover {
  color: rgb(88, 85, 85, 0.7);
}

.nav-item {
  display: inline-flex;
}

.contact {
  padding: 4px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.fieldsoA,
.aboutme-header,
.contact-header,
.home {
  padding: 4px;
  margin: 20px;
}

.fields {
  padding: 4px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.aboutme {
  margin-top: 20px;
}

.articles-header {
  margin-top: 20px;
  padding: 4px;
  text-align: center;
}

.emoji {
  font-family: "Source Serif Pro", serif;
}
