nav {
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-family: "Source Serif Pro", serif;
  background-color: #cfdac8;
}
body {
  font-family: "Source Serif Pro", serif;
}

.nav-link {
  padding: 20px;
  color: #000000;
  font-size: x-large;
}

.nav-link:hover {
  color: rgb(88, 85, 85, 0.7);
}

.nav-item {
  display: inline-flex;
}

.contact-header {
  padding: 4px;
  margin: 20px;
}
.contact {
  padding: 4px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.fieldsoA,
.aboutme-header {
  padding: 4px;
  margin: 20px;
}

#fields {
  padding: 4px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.aboutme {
  margin-top: 20px;
}

.aboutme-header {
  margin-top: 10px;
  padding: 4px;
}
.articles-header {
  margin-top: 20px;
  padding: 4px;
  text-align: center;
}

.home {
  margin: 20px;
  padding: 4px;
}

.emoji {
  color: #212529;
  font-family: Arial, Helvetica, sans-serif;
}
